<ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="#"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-text>
    <p>Lunch:<strong>{{lunch | json}}</strong></p>
  </ion-text>
  <ion-text>
      <p>Dinner:<strong>{{dinner | json}}</strong></p>
    </ion-text>
  <ion-button color="primary" (click)="showModal()">Show Modal</ion-button>
  <ion-button color="primary" (click)="openModelWithData()">Open Modal with pass data</ion-button>
</ion-content>
